#gallery {
  margin-top: 20px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.heading {
  padding-top: 10px;
  border-top: 1px solid black;
  text-align: center;
  font-weight: bold;
  color: black;
}
.background-colorNav-scroll {
  background-color: #404040;
}
.gallery-box {
  position: relative;
  z-index: 1;
  padding-top: 200px;
  font-family: 'Arial';
  font-style: italic;
}
.container {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.nav-gallery {
  display: block;
  width: 100%;
}

.gallery-item {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
}
.gallery-link {
  padding: 4px 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.current a {
  transition: all 1s;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.gallery-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
#projects > ul > li {
  display: inline-block;
  margin-bottom: 15px;
  width: 23%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.gallery {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 10px;
  display: none;
  box-sizing: border-box;
}

.modal-gallery {
  display: none;
}

@media (min-width: 320px) {
  #projects > ul > li {
    opacity: 1;
  }
}

@media (min-width: 769px) {
  #projects > ul > li {
    width: 30%;
    opacity: 0.7;
  }
  #projects > ul > li:hover {
    opacity: 1;
  }
}

@media (min-width: 920px) {
  .gallery-item {
    width: auto;
  }
  .container {
    width: 820px;
    max-width: 920px;
  }
  .modal-gallery {
    display: block;
  }
}
@media (min-width: 1220px) {
  .container {
    width: 1120px;
    max-width: 1320px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1520px;
    max-width: 1820px;
  }
  #projects > ul > li {
    width: 23%;
  }
}

@media (max-width: 768px) {
  #projects > ul > li {
    width: 48%;
  }
}

@media (max-width: 568px) {
  #projects > ul > li {
    width: 85%;
  }
}
