.header {
  padding: 188px 0;
  width: 100%;
  min-height: 570px;
  background-color: transparent;
  background-image: url(../img/banner-mini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.menu-text-header {
  color: white;
}
.title-small {
    font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  font-size: 18px;
  line-height: 25px;
  color: white;
}
.title {
  font-size: 28px;
  color: white;
}
.logo-box {
  font-family: 'Sofia', cursive;
  text-align: center;
}
.logo {
  margin: 20px 0px 10px 0px;
  font-style: italic;
  color: white;
  font-size: 4rem;
}
.header_info {
  background-image: linear-gradient(
    to bottom,
    #3a1a02,
    #5d361d,
    #825435,
    #a9734e,
    #d19568
  );
}
.title {
  font-size: 60px;
  color: white;
}
.logo-box {
  font-family: 'Sofia', cursive;
  text-align: center;
  padding-top: 4rem;
}
